---
import BaseLayout from "../layouts/BaseLayout.astro";
import Chip from "../components/Chip.astro";
const title = "About me";
const identity = {
  name: "pynappo",
  country: "United States",
  occupation: "Student at SJSU",
  major: "BSCS",
  hobbies: ["coding", "video games"],
};
const skills = ["lua", "neovim", "javascript", "c#"];
---

<BaseLayout>
  <body>
    <h1 class="text-purple-500 text-center t-2">About me</h1>
    <h2></h2>
    <img src="/public/profile_pic.webp" />
    <Chip href="https://github.com/pynappo">This is a test</Chip>
    <Chip href="mailto:pynappo@proton.me">pynappo@proton.me</Chip>
  </body>
</BaseLayout>
