---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About me";
const identity = {
  name: "pynappo",
  country: "United States",
  occupation: "Student at SJSU",
  major: "BSCS",
  hobbies: ["coding", "video games"],
};
const skills = ["lua", "neovim", "javascript", "c#"];
const skillColor = "green";
---

<BaseLayout>
  <body>
    <h1 class="text-purple-50">About me</h1>
    <h2>(pynappo)</h2>
    <p>Skills:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</BaseLayout>
<style define:vars={{ skillColor }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: bold;
  }
</style>
