---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import BlogPost from "../components/BlogPost.astro";
const posts = await getCollection("posts");
const title = "My Astro Learning Blog";
---

<BaseLayout title={title}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
