---
import Chip from "./Chip.astro";
---

<footer class="flex gap-4 mt-8">
  <p>
    Learn more about my projects on <Chip href="https://github.com/pynappo">
      GitHub
    </Chip> !
  </p>
</footer>
