---
const lines = [1, 2, 3];
---

<div class="hamburger px-5 cursor-pointer my-auto">
  {
    lines.map(() => (
      <span class:list={["block w-8 h-1 mb-1 bg-black rounded-full"]} />
    ))
  }
</div>
