---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="header">
  <nav class="flex flex-row">
    <ThemeIcon />
    <Hamburger />
    <Navigation />
  </nav>
</header>
