---
const links = [
  ["/", "Home"],
  ["/about", "About"],
  ["/blog/", "Blog"],
  ["/tags/", "Tags"],
];
---

<div
  class:list={[
    "h-full",
    "nav-links",
    "flex-row flex-nowrap inline-flex align-middle justify-center",
    "space-x-1 first:ml-2",
  ]}
>
  {
    links.map(([link, label]) => (
      <a
        href={link}
        class:list={[
          "font-bold text-lg dark:text-white",
          "border-transparent border-x-2 px-1",
          "hover:underline hover:text-blue-500 hover:border-gray-400",
          "flex align-middle items-center",
        ]}
      >
        {label}
      </a>
    ))
  }
</div>
