---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="mx-16 my-8 dark:bg-cyan-900 transition-colors duration-500">
    <Header />
    <h1 transition:animate="slide">{title}</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.ts";
    </script>
  </body>
</html>
